<center>
<p>
Mehrfachsendungen bitten wir zu entschuldigen.
</p> 

<p>
Den Newsletter als PDF finden Sie im Anhang.
</p>

<p>
Die vorherigen Newsletter finden Sie hier:<br>
<a href="https://gitlab.com/poll_e/greennlg/snippets/1799620">
Newsletter-Archiv</a>
</p>

<p> 
Sie möchten keine Newsletter mehr erhalten? Dann schicken Sie eine Email 
an <a href="mailto:monika.musterfrau@example.com">monika.musterfrau@example.com</a>
</p>

<h1>Impressum</h1>

<br>
Für weitere Informationen, Fragen, Anregungen oder Kritik wenden Sie sich bitte an:<br>
Die Organisation<br>
Musterstraße 1, 01234 Musterhausen<br>
Fax: 01234 / 567 89 01<br>
<br>
Ina Musterfrau<br>
Sprecherin und Geschäftsführerin<br>
Tel.:0123/45647374 | ina.musterfrau@orga.example.com<br>
<br>
Monika Musterfrau<br>
Verantwortliche Newsletter<br>
Tel.:0123/456423374 | monika.musterfrau@example.com<br>
<br>
V.i.S.d.P.: Monika Musterfrau<br>
</center>